*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Header/Footer/Navigation */

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    background-color: black;
}

#nav-top a {
    border: 1px solid black;
    padding: .5rem;
    margin-left: 1rem;
    background-color: white;
    color: black;
    text-decoration: none;
}
#container {

        max-width: 1200px;
        background-color: green;
        margin: 0 auto;
        
}

footer {
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 3rem;
    margin-right: 0px;
    overflow: hidden;
}